body {
  min-width: 1146px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: Roboto, Arial, sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.modal {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font: inherit;
  color: #ffffff;
}

a:hover,
a:focus {
  color: #ffbc9e;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 9px 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #b2b2b2;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
textarea:hover {
  box-shadow: 0 0 0 2px #9a9a9a;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2e88e4;
}

.button,
.button-form {
  display: inline-block;
  padding: 10px 20px;

  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.button:hover,
.button:focus,
.button-form:hover,
.button-form:focus {
  color: #ffffff;

  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  outline: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active,
.button-form:active {
  color: #fceeec;

  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  outline: none;
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.modal a {
  color: #323232;
}

.modal a:hover,
.modal a:active,
.modal a:focus {
  color: #e84d37;
}

.main-navigation-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 10px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 25px;
}

.main-nav {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.main-header ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header a {
  vertical-align: middle;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  width: 485px;
}

.site-nav .site-nav-item {
  position: relative;
}

.site-nav-item > a {
  margin-right: 2px;
  padding: 7px 14px;
}

.site-nav-item > a:hover,
.site-nav-item > a:active,
.site-nav-item > a:focus {
  color: #323232;
  text-decoration: none;

  background-color: #f7f6f3;
  border-radius: 15px;
}

.site-nav-item > a:active,
.site-nav-item > a:focus {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.site-nav-item.active > a,
.site-nav-item.active > a:active,
.site-nav-item.active > a:focus {
  color: #ffffff;
  text-decoration: none;

  background-color: #d07058;
  border-radius: 15px;
  box-shadow: none;
}

.site-nav .modal-nav {
  position: absolute;
  top: 30px;
  left: -5px;

  box-sizing: border-box;
  min-width: 145px;
  padding: 10px;
}

.site-nav-catalog-item:hover .modal-nav {
  display: block;
}

.modal-nav li {
  margin-right: -10px;
  margin-left: -10px;
}

.modal-nav a {
  display: block;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 20px;

  font: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  white-space: nowrap;
}

.modal-nav a:hover {
  background-color: #fbded7;
}

.modal-nav a:active,
.modal-nav a:focus {
  background-color: #f6b5a5;
  outline: none;
}

.modal-nav .modal-nav-title {
  margin: 0;

  border-bottom: 1px solid #d1d0ce;
}

.modal-nav-title a {
  padding-right: 0;
  padding-bottom: 8px;
  padding-left: 10px;

  font-weight: 700;
}

.modal-nav-title a:hover,
.modal-nav-title a:focus,
.modal-nav-title a:active {
  background-color: transparent;
}

.modal-nav .active,
.modal-nav .active:hover,
.modal-nav .active:focus,
.modal-nav .active:active {
  color: #ffffff;

  background-color: #d07058;
}

.main-header .button {
  position: relative;

  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 45px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
  border: none;
  border-radius: 15px;
  box-shadow: none;
}

.main-header .button:hover,
.main-header .button:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.main-header .button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;

  background-image: url("../img/sprite-icon.png");
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-header .search-button {
  width: 32px;
  height: 32px;
  padding: 0;

  cursor: pointer;
}

.main-header .search-button::before {
  left: 50%;

  width: 17px;
  height: 17px;

  background-position: -5px -35px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-header .search-button:hover::before,
.main-header .search-button:focus::before {
  background-position: -32px -35px;
}

.login-button::before {
  width: 21px;
  height: 19px;

  background-position: -67px -5px;
}

.login-button:hover::before,
.login-button:focus::before {
  background-position: -67px -34px;
}

.basket-button::before {
  width: 21px;
  height: 20px;

  background-position: -5px -5px;
}

.basket-button:hover::before,
.basket-button:focus::before {
  background-position: -36px -5px;
}

.contacts-text {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.contacts-text span {
  display: block;
  margin-bottom: 5px;
}

.main-search {
  position: relative;

  margin-right: 10px;
  margin-left: auto;
}

.modal-search,
.modal-login {
  position: absolute;
  top: 37px;
  right: 0;

  box-sizing: border-box;
  padding: 20px 15px;
}

.modal-search {
  width: 340px;
}

.search-button:hover + .modal-search {
  display: block;
}

.main-header .user-nav {
  position: relative;

  margin-right: 10px ;
}

.modal-login {
  width: 280px;
}

.login-button:hover + .modal-login {
  display: block;
}

.login-form p {
  margin: 0;
  margin-bottom: 20px;
}

.login-form-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.login-form-wrapper p {
  width: 120px;
  margin-bottom: 0;
}

.login-form-wrapper a {
  display: block;

  font: inherit;
  font-size: 13px;
  line-height: 24px;
}

.login-form .button-form {
  width: 100px;
  padding: 10px 25px;
}

.main-basket {
  position: relative;
}

.modal-basket {
  position: absolute;
  top: 37px;
  right: 0;

  box-sizing: border-box;
  width: 540px;
  padding: 10px 15px 20px;
}

.basket-button:hover + .modal-basket {
  display: block;
}

.modal-basket-table {
  width: 100%;

  border-collapse: collapse;
  font-size: 13px;
  line-height: 16px;
}

.modal-basket-table td {
  padding: 10px 10px 10px 0;

  vertical-align: middle;
}

.modal-basket-table .column-1 {
  width: 25px;
}

.modal-basket-table .column-2 {
  width: 45px;
}

.modal-basket-table .column-3 {
  width: 245px;
}

.modal-basket-table .column-4 {
  width: 125px;
}

.basket-item-delete {
  position: relative;

  width: 11px;
  height: 11px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.basket-item-delete::before,
.basket-item-delete::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -1px;

  width: 15px;
  height: 1px;

  background-color: #231f20;
}

.basket-item-delete::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.basket-item-delete::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.basket-item-image {
  width: 33px;
  height: 33px;
  overflow: hidden;

  border-radius: 100%;
}

.price-per-kilogram {
  color: #999999;
}

.basket-item:nth-last-child(2) td {
  padding-bottom: 20px;

  border-bottom: 1px solid #cacac7;
}

.modal-basket-table .basket-total {
  padding: 12px 0;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
}

.basket-button-wrapper {
  margin: 0;

  text-align: right;
}

.contacts a {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

.contacts a:hover,
.contacts a:focus {
  color: #ffffff;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.slider {
  position: relative;

  margin-bottom: 40px;
  padding-top: 280px;

  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

.slide-button {
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;

  border-radius: 50px;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#product-1:checked ~ .site-wrapper #slide-1,
#product-2:checked ~ .site-wrapper #slide-2,
#product-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.special-offers {
  margin-bottom: 40px;
}

.special-offers .index-columns {
  margin: 0;
  padding: 0;

  list-style: none;
}

.special-offer {
  width: 560px;
  min-height: 230px;
}

.special-offer-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.special-offer-text {
  font-size: 18px;
  line-height: 22px;
}

.raspberries-offer {
  background-color: #990019;
  background-image: url("../img/crimson-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.chocolate-offer {
  background-color: #492511;
  background-image: url("../img/chocolate-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features {
  margin-bottom: 40px;
  padding: 27px 20px 15px;

  color: #323232;

  background-color: #efe3cb;
  background-image: url("../img/pattern-wafer.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 15px;
}

.features-text {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  box-sizing: border-box;
  width: 535px;
  margin-bottom: 12px;
  padding-top: 15px;
  padding-left: 55px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-ice-cream-item {
  background-image: url("../img/morozhenko-icon.svg");
}

.feature-cow-item {
  background-image: url("../img/cow-icon.svg");
}

.feature-leaf-item {
  background-image: url("../img/leaf-icon.svg");
}

.feature-thermometer-item {
  background-image: url("../img/thermometer-icon.svg");
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news {
  box-sizing: border-box;
  width: 560px;
  min-height: 220px;
  padding: 25px 20px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  border-radius: 15px;
}

.blog-news-title {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog-item {
  margin: 10px 0;
  padding-right: 230px;
}

.blog-item a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.blog-item a:hover,
.blog-item a:focus,
.blog-item a:active {
  color: #e84d37;
}

.subscription {
  box-sizing: border-box;
  width: 560px;
  min-height: 220px;
  padding: 5px;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;

  background-image: url("../img/mailing-bg.jpg");
  background-repeat: repeat-y;
  background-position: 0 0;
  border-radius: 15px;
}

.subscription-wrap {
  box-sizing: border-box;
  height: 100%;
  padding: 25px 20px;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscription-wrap > p {
  margin-top: 5px;
  margin-bottom: 40px;
}

.subscription-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-form p {
  width: 365px;
  margin: 0;
}

.map-address {
  font-style: normal;
  color: #323232;

  background-color: #ffffff;
}

.map-text {
  font-size: 14px;
  line-height: 20px;
}

.map-contacts {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  text-decoration: none;
}

.page-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li,
.breadcrumbs a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li {
  position: relative;

  margin-right: 20px;
}

.breadcrumbs li::after {
  content: "»";
  position: absolute;
  top: 5px;
  right: -12px;

  width: 6px;
  height: 6px;

  font-size: 15px;
  line-height: 5px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.filters {
  margin-bottom: 40px;
}

.filters fieldset {
  margin-right: 15px;
  padding: 0;

  border: none;
}

.filters legend,
.filters label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.filters ul {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.sorting-filter {
  width: 193px;
  margin: 0;
  margin-right: 15px;
}

.price-filter {
  width: 220px;
}

.fat-filter {
  width: 415px;
}

.fillers-filter {
  width: 700px;
}

.filter-option label {
  font-size: 16px;
  line-height: 18px;
}

.filter-option label:hover,
.filter-option label:focus {
  color: #323232;
}

.filter-button {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #ffffff;
  outline: none;
}

.filter-button:active {
  color: #323232;

  background-color: #ededed;
  border: none;
  box-shadow: inset 0 1px 2px #696969;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list a {
  text-decoration: none;
}

.catalog-list a:hover,
.catalog-list a:focus {
  color: #ffffff;
}

.catalog-item {
  position: relative;

  width: 267px;
  margin-right: 25px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item a {
  position: relative;

  display: block;
}

.catalog-item:hover a {
  z-index: 15;
}

.catalog-item-image {
  width: 267px;
  height: 267px;
  margin-bottom: 15px;
  overflow: hidden;

  border-radius: 50%;
}

.catalog-item-price {
  position: absolute;
  top: 210px;
  left: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.catalog-item-price span {
  font-size: 45px;
}

.catalog-item-title {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
  color: #ffbc9e;
}

.catalog-item-btn {
  position: absolute;
  top: -5px;
  left: -15px;
  z-index: 10;

  display: none;
  width: 100%;
  height: 100%;
  padding: 5px 15px 70px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
}

.catalog-item-btn .button {
  position: absolute;
  bottom: 20px;
  left: 50%;

  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.catalog-item:hover .catalog-item-btn {
  display: block;
}

.pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item a {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(248, 247, 244, 0.2);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-disabled a {
  opacity: 0.2;
}

.pagination-item-disabled a:hover,
.pagination-item-disabled a:focus {
  color: #ffffff;

  background-color: transparent;
}

.main-footer {
  padding: 17px 0;
}

.main-footer .container {
  display: flex;
  flex-wrap: wrap;
}

.inner-page-footer .container {
  position: relative;
}

.inner-page-footer .container::before {
  content: "";
  position: relative;
  top: -6px;

  flex-grow: 1;
  flex-basis: 100%;

  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.main-footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
  color: #ffbc9e;
}

.main-footer .footer-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 267px;
  margin-right: 130px;
}

.footer-social li {
  margin-right: 10px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button svg {
  opacity: 0.8;
}

.social-button:hover,
.social-button:active,
.social-button:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-button:hover svg {
  opacity: 1;
}

.social-button:active {
  box-shadow: 0 2px 1px #888888;
}

.social-button:active svg {
  opacity: 0.9;
}

.footer-about {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 350px;
}

.footer-about li {
  position: relative;

  box-sizing: border-box;
  width: 145px;
  margin-bottom: 5px;
  padding-left: 20px;
}

.footer-about li:nth-child(2n) {
  flex-grow: 1;
}

.footer-about .suppliers-link {
  font-weight: 700;
}

.footer-about .suppliers-link::before {
  content: url("../img/heart-icon.svg");
  position: absolute;
  top: 50%;
  left: 0;

  width: 15px;
  height: 13px;

  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-copyright,
.footer-copyright a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright {
  margin-left: auto;
}

/* Модальные окна */

.modal {
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.40);
}

.modal .button,
.modal .button-form {
  color: #ffffff;
}

.modal .button:hover,
.modal .button:focus,
.modal .button-form:hover,
.modal .button-form:focus {
  color: #ffffff;
}

.modal .button:active,
.modal .button-form:active {
  color: #fceeec;
}

.modal-feedback {
  position: fixed;
  top: 340px;
  left: 50%;

  box-sizing: border-box;
  width: 475px;
  padding: 24px;

  box-shadow: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;

  width: 22px;
  height: 2px;

  background-color: #231f20;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-form p {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form p:last-child {
  margin-top: 25px;
  margin-bottom: 0;

  text-align: right;
}

.feedback-form input {
  width: 265px;
}

.feedback-form textarea {
  resize: none;
}
