body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.modal {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  font: inherit;
  color: #ffffff;
}

a:hover,
a:focus {
  color: #ffbc9e;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  border: 1px solid #b2b2b2;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  border: 2px solid #9a9a9a;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 2px solid #2e88e4;
  outline: none;
}

.button {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border: none;
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(0deg, #e74a35, #f26843);
  -webkit-box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
          box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-image: -o-linear-gradient(bottom, #f58669, #ec6f5e);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f58669), to(#ec6f5e));
  background-image: linear-gradient(0deg, #f58669, #ec6f5e);
  -webkit-box-shadow: 0 2px 2px #ac1000;
          box-shadow: 0 2px 2px #ac1000;
}

.button:active {
  color: #fceeec;
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(0deg, #e74a35, #f26843);
  -webkit-box-shadow: inset 0 2px 2px #942718;
          box-shadow: inset 0 2px 2px #942718;
}

.main-nav {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.main-header ul {
  list-style: none;
}

.main-header .button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-header .button:hover,
.main-header .button:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.contacts .contacts-text {
  font-size: 14px;
  line-height: 16px;
}

.contacts a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.contacts a:hover,
.contacts a:focus {
  color: #ffffff;
}

.features {
  color: #323232;

  background-color: #efe3cb;
  background-image: url("../img/pattern-wafer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.features .features-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features .features-list {
  list-style: none;
}

.blog-news {
  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.jpg");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  color: #323232;
}

.blog-news-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.blog-item a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.subscription {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.page-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li,
.breadcrumbs a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.catalog-list {
  list-style: none;
}

.catalog-list a {
  text-decoration: none;
}

.catalog-list a:hover,
.catalog-list a:focus {
  color: #ffffff;
}

.catalog-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-item .catalog-item-price {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.catalog-item-price span {
  font-size: 45px;
}

.catalog-item .catalog-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
}

.catalog-item .catalog-item-title:hover,
.catalog-item .catalog-item-title:focus {
  color: #ffbc9e;
}

.catalog-item .quick-view-button {
  display: none;
}

.catalog-item:hover .quick-view-button {
  display: inline-block;
}

.main-footer ul {
  list-style: none;
}

.main-footer a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
  color: #ffbc9e;
}

.main-footer .footer-copyright,
.footer-copyright a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
